@model InventoryManagement_BT.Models.Asset

@if (Model == null)
{
    <div class="row">
        <div class="col-md-12">
            <span class="error-text"> Item @ViewBag.ItemKey Not Found</span>
            @Html.ActionLink("Add Item?", "AddAsset", "Asset", new  { assetKey = ViewBag.ItemKey, inventoryOwner = ViewBag.InventoryOwner}, new { @class = "add-asset-link btn btn-primary" })
            @Html.ActionLink("Cancel", "TakeInventory", "Asset", null, new { @class = "btn btn-danger" })
        </div>
    </div>

}
else
{
    @Html.ValidationMessage("InventoryDate", new { @class = "text-danger" })
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Asset Tag
                </th>
                <th>
                    Product
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                    Model
                </th>
                <th>
                    Serial Number
                </th>
                <th>
                    Item Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.AssetKey
                </td>
                <td>
                    @Model.Product.Name
                </td>
                <td>
                    @Model.Manufacturer.Name
                </td>
                <td>
                    @Model.Model.Name
                </td>
                <td>
                    @Model.SerialNumber
                </td>
                <td>
                    @Model.ItemName
                </td>
            </tr>
        </tbody>
    </table>
    <p>Last Inventory Date: @Model.InventoryDate.ToString("MM/dd/yyyy")</p>

    @Html.ActionLink("Submit", "UpdateOwnerAndDate", "Asset", new {assetKey = Model.AssetKey.ToString(), date = DateTime.UtcNow.ToString(), inventoriedBy = ViewBag.InventoriedBy }, new { @class = "btn btn-primary" })
    @Ajax.ActionLink("Modify", "EditAsset", new { assetKey = Model.AssetKey }, new AjaxOptions { UpdateTargetId = "add-inventory-container", InsertionMode = InsertionMode.Replace, OnSuccess = "ShowAddInventoryModal" }, new {@class = "btn btn-info" } )
    @Html.ActionLink("Cancel", "TakeInventory", "Asset", null, new { @class = "btn btn-danger" })
}



