@model InventoryManagement_BT.ViewModels.SearchViewModel


@using (Html.BeginForm("SearchInventory", "Asset", FormMethod.Post, new { @class = "search-inventory-form form-inline" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(x => x.KeywordSearch, new { @class = "control-label" }):
            @Html.TextBoxFor(x => x.KeywordSearch, "", new { @class = "form-control" })
        </div>
    </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(x => x.Item, new { @class = "control-label" }):
                    @Html.TextBoxFor(x => x.Item, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Item, "", new {@class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(x => x.SelectedLocationId):
                    @Html.DropDownListFor(x => x.SelectedLocationId, Model.LocationItems, new { @class = "form-control" })
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(x => x.SelectedClientSiteId):
                    @Html.DropDownListFor(x => x.SelectedClientSiteId, Model.ClientSiteItems, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" name="submit-search" value="Submit" class="btn btn-primary pull-right" />
            </div>
}