@model InventoryManagement_BT.Models.TakeInventorySearchResultsViewModel

@if (Model == null)
{
    <p> Item (item name goes here) Not Found</p>
    @Ajax.ActionLink("Add Item?", "AddAsset", "Inventory", new AjaxOptions { UpdateTargetId = "add-inventory-modal", InsertionMode = InsertionMode.Replace, OnSuccess = "TriggerAddInventoryModal" }, new { @class = "btn btn-primary" })
    <button class="btn btn-danger">Cancel</button>
}
else
{
    <p>@Model.ItemName</p>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>
                    Asset Tag
                </th>
                <th>
                    Product
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                    Model
                </th>
                <th>
                    Serial Number
                </th>
                <th>
                    Item Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.AssetTag
                </td>
                <td>
                    @Model.Product
                </td>
                <td>
                    @Model.Manufacturer
                </td>
                <td>
                    @Model.Model
                </td>
                <td>
                    @Model.SerialNumber
                </td>
                <td>
                    @Model.ItemName
                </td>
            </tr>
        </tbody>
    </table>

    <button>Submit</button>
    <button>Modify</button>
    <button>Cancel</button>
}



