@model InventoryManagement_BT.Models.Asset

@if (Model == null)
{
    <p> Item @ViewBag.ItemKey Not Found</p>
    @Ajax.ActionLink("Add Item?", "AddAsset", "Inventory", new AjaxOptions { UpdateTargetId = "add-inventory-container", InsertionMode = InsertionMode.Replace, OnSuccess = "ShowAddInventoryModal" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Cancel", "TakeInventory", "Inventory", null, new {@class = "btn btn-danger" })
}
else
{
    <p>@Model.ItemName</p>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>
                    Asset Tag
                </th>
                <th>
                    Product
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                    Model
                </th>
                <th>
                    Serial Number
                </th>
                <th>
                    Item Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.AssetKey
                </td>
                <td>
                    @Model.Product
                </td>
                <td>
                    @Model.Manufacturer
                </td>
                <td>
                    @Model.Model
                </td>
                <td>
                    @Model.SerialNumber
                </td>
                <td>
                    @Model.ItemName
                </td>
            </tr>
        </tbody>
    </table>

    <button>Submit</button>
    <button>Modify</button>
    <button>Cancel</button>
}



