@model InventoryManagement_BT.Models.InventoryFormViewModel

@section scripts {
    <script src="@Url.Content("~/Scripts/take-inventory.js")"></script>
}

<h2>Take Inventory</h2>

@using (Ajax.BeginForm("TakeInventory", "Inventory", new AjaxOptions { UpdateTargetId = "search-results", InsertionMode = InsertionMode.Replace, OnSuccess = "HideTakeInventoryDescription" }, new { @class = "form-inline" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div class="form-group">
                @Html.LabelFor(x => x.ItemKey, new { @class = "control-label" }):
                @Html.TextBoxFor(x => x.ItemKey, new { @class = "form-control", placeholder = "Enter Asset Tag" })
                @Html.ValidationMessageFor(x => x.ItemKey, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                @Html.LabelFor(x => x.InventoryOwner, new { @class = "control-label" }):
                @Html.TextBoxFor(x => x.InventoryOwner, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.InventoryOwner)
            </div>
        </div>
        <div class="col-md-2 col-lg-2">
            <div class="form-group">
                @Html.LabelFor(x => x.SelectedLocationId):
                @Html.DropDownListFor(x => x.SelectedLocationId, Model.LocationItems, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-2 col-lg-3">
            <div class="form-group">
                @Html.LabelFor(x => x.SelectedClientSiteId):
                @Html.DropDownListFor(x => x.SelectedClientSiteId, Model.ClientSiteItems, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-12">
            @Html.HiddenFor(x => x.InventoriedBy)
            @Html.HiddenFor(x => x.InventoryDate)
            <button type="submit" class="btn btn-default">Add New Inventory Item</button>
        </div>
    </div>
}
<div id="search-results"></div>

<div class="row" id="take-inventory-description">

    <div class="col-md-6 col-md-offset-3">
        <p>Scan each item at this location</p>
        <p>
            A laser scanner can be used to perform the inventory but it
            must be configured to add a carriage return at the end of the
            scan
        </p>
    </div>

</div>

<div id="add-inventory-container"></div>


